USE [master]
GO
/****** Object:  Database [ProductGroup]    Script Date: 2018/9/21 21:24:28 ******/
CREATE DATABASE [ProductGroup]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductGroup', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProductGroup.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductGroup_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\ProductGroup_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductGroup].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductGroup]
GO
USE [ProductGroup]
GO
/****** Object:  Table [dbo].[Collect]    Script Date: 2018/9/21 21:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collect](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskId] [nvarchar](150) NULL,
	[WWId] [nvarchar](150) NULL,
	[WWIdImg] [nvarchar](150) NULL,
	[TransferAccountsImg] [nvarchar](150) NULL,
	[CityPartner] [nvarchar](150) NULL,
	[Clerk] [nvarchar](50) NULL,
	[Remarks] [nvarchar](150) NULL,
	[ShopName] [nvarchar](150) NULL,
	[TaskPrice] [decimal](18, 2) NULL,
	[CreatDate] [datetime] NULL,
	[OrderImg1] [nvarchar](150) NULL,
	[OrderImg2] [nvarchar](150) NULL,
	[OrderImg3] [nvarchar](150) NULL,
	[OrderImg4] [nvarchar](150) NULL,
	[LastCollect] [int] NULL,
 CONSTRAINT [PK_Collect] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CollectHistory]    Script Date: 2018/9/21 21:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SubmitDate] [datetime] NULL,
	[TaskId] [nvarchar](150) NULL,
	[MemberName] [nvarchar](150) NULL,
	[Clerk] [nvarchar](150) NULL,
	[CityPartner] [nvarchar](150) NULL,
	[CreatDate] [datetime] NULL,
 CONSTRAINT [PK_CollectHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 2018/9/21 21:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TaskID] [nvarchar](150) NULL,
	[ProId] [nvarchar](150) NULL,
	[SurplusCount] [int] NULL,
	[WWId] [nvarchar](150) NULL,
	[Date] [datetime] NULL,
	[WWInputDate] [datetime] NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2018/9/21 21:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Shop] [nvarchar](150) NULL,
	[ShopName] [nvarchar](150) NULL,
	[TaskId] [nchar](150) NULL,
	[Price] [decimal](18, 2) NULL,
	[PriceMark] [nvarchar](150) NULL,
	[KeyWord] [nvarchar](150) NULL,
	[OrderCount] [int] NULL,
	[Screen] [nvarchar](150) NULL,
	[ImgUrl] [nvarchar](150) NULL,
	[IsDelete] [int] NULL,
	[CreateDate] [datetime] NULL,
	[ShopKeeper] [nvarchar](150) NULL,
	[ServiceCost] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/9/21 21:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](150) NULL,
	[PassWord] [nvarchar](150) NULL,
	[Type] [int] NULL,
	[CreatTime] [datetime] NULL,
	[Disable] [bit] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
